//===========левый блок==============

.left-block {
   width: 7.135vw;
   height: 100%;
   background-color: #5A61ED;
   color: #FFFFFF;
   position: relative;
   display: flex;
   align-items: flex-end;

   @media(max-width: 1439px) {
      width: 137px;
   }

   @media(max-width: 700px) {
      width: 77px;
   }

   & h1 {
      font-family: 'PT Sans', sans-serif;
      font-style: normal;
      font-size: 2.552vw;
      line-height: 1.29;
      letter-spacing: 0.026vw;
      transform: rotate(-90deg);
      width: 8.438vw;
      height: 3.229vw;
      flex: 1 0 auto;
      position: relative;
      bottom: 3.854vw;
      left: 0.938vw;

      @media(max-width: 1439px) {
         font-size: 49px;
         letter-spacing: 0px;
         width: 162px;
         height: 62px;
         bottom: 74px;
         left: 18px;
      }

      @media(max-width: 700px) {
         left: -42px;
      }
   }
}

//============== форма================

.form {
   position: relative;
   width: calc(34.583vw - 7.135vw);
   padding: 2.005vw 1.172vw 1.693vw 1.083vw;
   z-index: 0;

   @media(max-width: 1439px) {
      width: calc(664px - 137px);
      padding: 38px 23px 33px 21px;
   }

   @media(max-width: 700px) {
      width: 100%;
   }
}

.elem {
   width: 100%;
   height: 100%;
}

.form__title {
   font-weight: 500;
   font-size: 1.146vw;
   line-height: 1.2;
   letter-spacing: -0.024vw;
   overflow: hidden;
   white-space: nowrap;
   text-overflow: ellipsis;
   max-width: inherit;
   height: 1.354vw;

   @media(max-width: 1439px) {
      font-size: 22px;
      letter-spacing: -0.46px;
      height: 26px;
   }
}

.form__subtitle {
   font-weight: 300;
   margin-bottom: 1.042vw;
   font-size: 0.729vw;
   line-height: 1.1;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;

   @media(max-width: 1439px) {
      margin-bottom: 20px;
      font-size: 14px;
   }

   @media(max-width: 510px) {
      white-space: normal;
   }
}

//============== блоки формы=============

.form__block {
   display: flex;
   width: 100%;
   margin-bottom: 0.849vw;
   gap: 0.781vw;

   @media(max-width: 1439px) {
      margin-bottom: 16px;
      gap: 15px;
   }

   @media(max-width: 700px) {
      flex-direction: column;
   }

   & label {
      font-size: 0.625vw;
      font-weight: 300;
      color: #7C7C7C;
      line-height: 1.16;
      display: block;
      max-width: inherit;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      text-transform: capitalize;

      @media(max-width: 1439px) {
         font-size: 12px;
      }

      @media(max-width: 700px) {
         font-size: 15px;
      }
   }

   & .form__block-info {
      display: flex;
      flex-direction: column;
      min-width: 12.214vw;

      @media(max-width: 1439px) {
         min-width: 235px;
      }

      @media(max-width: 510px) {
         min-width: 150px;
      }
   }

   & .form__block-row {
      display: flex;
      justify-content: space-between;

      & .day {
         width: 2.917vw;

         @media(max-width: 1439px) {
            width: 24%;
         }
      }

      & .month {
         width: 4.74vw;

         @media(max-width: 1439px) {
            width: 39%;
         }
      }

      & .year {
         width: 3.526vw;

         @media(max-width: 1439px) {
            width: 29%;
         }
      }
   }

   & .form__block-gender {
      display: flex;
      gap: 0.99vw;
      align-items: center;
      font-size: 0.729vw;
      line-height: 1.16;
      color: #111111;
      margin-top: 0.276vw;
      padding-bottom: 0.328vw;
      position: relative;

      @media(max-width: 1439px) {
         gap: 19px;
         font-size: 14px;
         margin-top: 5px;
         padding-bottom: 6px;
      }
   }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
   -webkit-transition-delay: 9999s;
   transition-delay: 9999s;
}

input,
select {
   border: none;
   font-size: 0.729vw;
   width: inherit;
   padding: 0.26vw 0 0.313vw;
   border-bottom: 0.052vw solid #F2F2F2;
   outline: none;
   background: inherit;

   @media(max-width: 1439px) {
      font-size: 14px;
      padding: 5px 0 6px;
      border-bottom: 1px solid #F2F2F2;
   }
}

select,
.radio {
   cursor: pointer;
}

input[type="radio"] {
   position: absolute;
   opacity: 0;
   width: 0;
   height: 0;
}


#radio {
   line-height: 1.16;
   font-size: 0.729vw;
   color: #111111;
   font-weight: 400;

   @media(max-width: 1439px) {
      font-size: 14px;
   }
}

.label {
   position: relative;
   top: 0.104vw;
   left: 0;
   display: inline-block;
   width: 0.521vw;
   height: 0.521vw;
   border-radius: 0.328vw;
   border: 0.052vw solid #5A61ED;
   -webkit-tap-highlight-color: transparent;
   margin-right: 0.313vw;
   box-sizing: content-box;

   @media(max-width: 1439px) {
      top: 2px;
      width: 10px;
      height: 10px;
      border-radius: 6px;
      border: 1px solid #5A61ED;
      margin-right: 6px;
   }

   @media(max-width: 700px) {
      width: 16px;
      height: 16px;
      border-radius: 10px;
   }
}

input[type="radio"]:checked+.label:after {
   content: '';
   position: absolute;
   top: 0.104vw;
   left: 0.104vw;
   width: 0.313vw;
   height: 0.313vw;
   background: #5A61ED;
   border-radius: 0.328vw;

   @media(max-width: 1439px) {
      top: 2px;
      left: 2px;
      width: 6px;
      height: 6px;
      border-radius: 6px;
   }

   @media(max-width: 700px) {
      top: 3px;
      left: 3px;
      width: 10px;
      height: 10px;
      border-radius: 10px;
   }
}

select {
   -moz-appearance: none;
   -webkit-appearance: none;
   background-image: url('/img/Shape.svg');
   background-size: 0.417vw;
   background-repeat: no-repeat;
   background-position: right top 50%;

   @media(max-width: 1439px) {
      background-size: 8px;
   }
}

#icon {
   width: 15.99vw;
   height: 18.49vw;

   @media(max-width: 1439px) {
      width: 307px;
      height: 355px;
   }
}

//============ футер ===============

.footer {
   margin-top: 5.052vw;
   display: flex;
   align-items: center;
   justify-content: space-between;

   @media(max-width: 1439px) {
      margin-top: 97px;
   }

   @media(max-width: 700px) {
      margin-top: 50px;
   }
}

.footer__left-login {
   width: 12.214vw;
   font-size: 0.677vw;
   font-weight: 200;
   line-height: 1.1;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
   color: #000000;

   @media(max-width: 1439px) {
      width: 235px;
      font-size: 13px;
   }

   @media(max-width: 700px) {
      width: 100%;
   }
}

.footer__left-link {
   color: #5A61ED;
   font-weight: 500;
}

.footer__right-btn {
   background: #5A61ED;
   font-size: 0.729vw;
   line-height: 1.29;
   color: #FFFFFF;
   font-family: 'PT Sans', sans-serif;
   cursor: pointer;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
   padding: 0.365vw 1.354vw 0.365vw 1.302vw;
   border: 0.026vw solid #FFFFFF;

   @media(max-width: 1439px) {
      font-size: 14px;
      padding: 7px 26px 7px 25px;
      border: 0px solid #FFFFFF;
   }
}

//=========== иконка =============

#icon {
   position: absolute;
   bottom: 0;
   right: 0;
   z-index: -1;
   max-width: 100%;
}


//=============== анимация всплытия блоков=============

.form__block:nth-child(3) {
   opacity: 0;
   transition: 1s;
   animation: fadeOut 1s 1;
   animation-fill-mode: forwards;
   animation-delay: 0.1s;

   & .form__block-info:nth-child(2) {
      opacity: 0;
      transition: 1s;
      animation: fadeOut 1s 1;
      animation-fill-mode: forwards;
      animation-delay: 0.3s;
   }
}

.form__block:nth-child(4) {
   opacity: 0;
   transition: 1s;
   animation: fadeOut 1s 1;
   animation-fill-mode: forwards;
   animation-delay: 0.4s;

   & .form__block-info:nth-child(2) {
      opacity: 0;
      transition: 1s;
      animation: fadeOut 1s 1;
      animation-fill-mode: forwards;
      animation-delay: 0.6s;
   }
}

.form__block:nth-child(5) {
   opacity: 0;
   transition: 1s;
   animation: fadeOut 1s 1;
   animation-fill-mode: forwards;
   animation-delay: 0.7s;

   & .form__block-info:nth-child(2) {
      opacity: 0;
      transition: 1s;
      animation: fadeOut 1s 1;
      animation-fill-mode: forwards;
      animation-delay: 0.9s;
   }
}

.form__block:nth-child(6) {
   opacity: 0;
   transition: 1s;
   animation: fadeOut 1s 1;
   animation-fill-mode: forwards;
   animation-delay: 1s;

   & .form__block-info:nth-child(2) {
      opacity: 0;
      transition: 1s;
      animation: fadeOut 1s 1;
      animation-fill-mode: forwards;
      animation-delay: 1.2s;
   }
}

.form__block:nth-child(7) {
   opacity: 0;
   transition: 1s;
   animation: fadeOut 1s 1;
   animation-fill-mode: forwards;
   animation-delay: 1.3s;

   & .footer__right:nth-child(2) {
      opacity: 0;
      transition: 1s;
      animation: fadeOut 1s 1;
      animation-fill-mode: forwards;
      animation-delay: 1.5s;
   }
}

@keyframes fadeOut {
   0% {
      opacity: 0;
   }

   100% {
      opacity: 1;
   }
}

//============= shake кнопки================

.shake {
   animation: shake 0.3s;
}

@keyframes shake {
   0% {
      transform: translate(0.052vw, 0.052vw) rotate(0deg);
   }

   20% {
      transform: translate(-0.104vw, 0px) rotate(1deg);
   }

   40% {
      transform: translate(0.052vw, -0.052vw) rotate(1deg);
   }

   60% {
      transform: translate(-0.104vw, 0.052vw) rotate(0deg);
   }

   80% {
      transform: translate(-0.052vw, -0.052vw) rotate(1deg);
   }

   100% {
      transform: translate(0.052vw, -0.052vw) rotate(-1deg);
   }
}

//=============== модальное окно============

.wrapper__modal {
   display: none;
}

.modal {
   margin-top: 9.271vw;
   margin-bottom: 7.917vw;
   padding-left: 2.24vw;

   @media(max-width: 1439px) {
      margin-top: 178px;
      margin-bottom: 152px;
      padding-left: 43px;
   }

   & p {
      font-size: 0.729vw;
      line-height: 1.16;
      margin-top: 0.573vw;

      @media(max-width: 1439px) {
         font-size: 14px;
         margin-top: 11px;
      }
   }
}

.modal__text {
   font-size: 1.146vw;
   line-height: 1.2;
   letter-spacing: -0.024vw;
   color: #111111;

   @media(max-width: 1439px) {
      font-size: 22px;
      letter-spacing: -0.46px;
   }
}

//=============== валидация===============

.invalid {
   border-bottom: 0.104vw solid #FF2828;
}

.invalid_color {
   border-bottom: 0.104vw solid #FF2828;
   color: #FF2828;
}

@media(max-width: 1439px) {
   .invalid {
      border-bottom: 2px solid #FF2828;
   }

   .invalid_color {
      border-bottom: 2px solid #FF2828;
   }
}

.valid {
   background-image: url('/img/1.svg');
   background-repeat: no-repeat;
   background-position: right top 50%;
}

//================= медиа ===============